<html>
  <body>
    <h1>List</h1>
    <ul>
        <% employees.forEach((employee) =>{ %>
            <li>
              <a href="./show/<%= employee._id %>"><%= employee.name %></a>
            </li>
          <% }) %>
    </ul>
    <a href= "./create">Add</a>
  </body>
</html>