<html>
    <body>
        <h1>Name: <%= employee.name %></h1>
        <h2>Phone: <%= employee.phone %></h2>
        <a href="/">Back</a>
        <a href="/delete/<%= employee._id %>">Delete</a>
        <a href="/edit/<%= employee._id %>">Update</a>
    </body>
</html>